<p><%= todo_item.content %></p>
<%= link_to "Remove", project_list_todo_item_path(@project_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Completion mark", complete_project_list_todo_item_path(@project_list, todo_item.id), method: :patch %>
